.calc{
    max-width: 640px;
    outline: 1px solid black;
    padding: 5px;
}
button{
    width: 100%;
}

#currentVal{
    height:50px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size : 18px;
}